* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* header nav style starts */
header {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: black;
    background-image: url("../../assets/images/cabobeach.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
}

header h1 {
    display: inline-block;
    font-size: 50px;
    font-style: oblique;
    text-shadow: 0 0 10px rgba(-5, -5, 0, 0.5);
}

header a {
    text-decoration: none;
    color: white;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

header nav ul li {
    margin: 10px 15px;
    font-size: 25px;
    font-weight: bold
}

header nav ul li:hover {
    background: lightskyblue;
    border-radius: 5px;
    text-shadow: none;
}
/* header nav style ends */


/* footer style starts */
footer {
    background-image: url("../../assets/images/cabobeach.jpg");
    background-position: 80%;
    background-size: cover;
    background-position: fixed;
    padding: 10px 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: darkgray;
}

footer h2 {
    font-size: 12px;
    text-align: center;
    margin: auto;
}
/* footer style ends */


/* hero style starts */
.hero {
    background-image: url("../../assets/images/cabobeach.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.hero-details {
    width: 15%;

}

.hero-details h2 {
    font-style: italic;
    color: white;
    text-align: right;
}
/* hero style ends */


/* section title starts */
.section-title {
    font-size: 30px;
    color: black;
    text-align: left;
    border-bottom: 3px;
}
/* section title ends */


/* about me section starts */
.section p {
    font-size: 20px;
    text-align: right;
    justify-content: right;
}

.bio {
    background-image: url("../../assets/images/cabobeach.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
}
